* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  background-color: pink;
  height: 100%;
  border: 1px solid black;
} 



.spazio {
  padding: 10px;

}

.verde {
  background-color: green;
  border: solid white 1px;
}
